@charset "gb2312";
.infosbox { width: 100%; overflow: hidden; background: #fff; margin-bottom: 20px }
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.infosbox .bloginfo { width: 100%; overflow: hidden; margin-bottom: 10px; clear: both }
.infosbox .bloginfo ul { overflow: hidden }
.infosbox .bloginfo li { float: left; margin-right: 20px }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; display: block; float: left }
.tags { width: 100%; overflow: hidden; clear: both }
.infosbox img { max-width: 620px; height: auto;  }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; overflow: hidden; margin: 20px 0; background: #FFF; }/*上一篇下一篇*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #000; text-decoration: underline }
/*文章评论*/
.news_pl { margin: 10px 0 20px; width: 100%; overflow: hidden; background: #FFF; }
.news_pl h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 10px; color: #000 }
.diggit { width: 160px; margin: auto; background: #E2523A; color: #fff; box-shadow: 1px 2px 6px 0px rgba(0,0,0,.2); border-radius: 3px; line-height: 40px; text-align: center; }
.diggit a { color: #fff; }
#diggnum { margin: 5px; }
.guanzhu {  }
.xzsm, .ffsm { width: 100%; overflow: hidden; margin: 20px 0; background: #FFF; line-height: 26px }
.tblod { margin: 0 0 10px; display: block; position: relative }
.tblod:after { content: ""; width: 3px; height: 26px; background: #f65a8a; left: -20px; position: absolute }
.xzsm ul, .ffsm ul { padding: 20px }
.viewurl, .download { float: left; width: 30%; background: #eb6841; text-align: center; color: #fff; margin: 0 20px 20px; line-height: 30px; border-radius: 5px; }
.download { background: #a7a7a7 }
.viewurl a, .download a { color: #fff; display: block }
.ffsm { background: url(../images/grwx.png) no-repeat right top 20px #fff }
